<% @all_results%>

<table border="1">
  <tr>
    <th>
      Date
    </th>
    <th>
      Distance
    </th>
    <th>
      Time
    </th>
    <th>
      Cadence
    </th>
  </tr>

  <% @all_results.each do |results|%>
  <% time = results.fetch("distance").to_f * results.fetch("pace").to_f 
    steps = results.fetch("steps").to_f %>
  <tr>
    <td>
      <% start_epoch_ms = results.fetch("start_epoch_ms") 
        start_date = Time.at(start_epoch_ms/1000)%>
      <%= start_date.strftime('%B %d, %Y')%>
    </td>
    <td>
      <%= results.fetch("distance").to_f.round(2) %>km
    </td>
    <td>
     <%= time.round(2) %> minutes
    </td>
    <td>
      <%= (steps/time).to_i %>
    </td>
  </tr>
 <% end %>
  </table>
